@import "../../../styles/variables.scss";

.access-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, $primary-color, $gray-bg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .card {
    background-color: #fff;
    padding: 2rem 3rem;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .card h1 {
    color: $primary-color;
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .card p {
    font-size: 1.1rem;
    color: #333;
  }
  

  
 
  