@import "../../../styles/variables.scss";

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $gray-bg;

  .container {
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
  }

  .logo {
    font-size: 30px;
    font-weight: bold;
    color: $primary-color;
    margin: 30px;
  }

  .title {
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: 600;
  }

  .button {
    margin-top: 20px;
    padding: 12px 24px;
    border: none;
    background-color: $primary-color;
    border-radius: 7px;
    color: white;
    font-weight: 600;
    cursor: pointer;
  }

  .button:hover {
    background-color: #5a22c5;
  }
  .button:active {
    background-color: #431696;
  }
}
